@use "../abstract/variable" as *;

//SECTION PRIVATE-TOUR OPTION
.privtour-option {
  padding: 12rem $pd-container-horizontal;

  &__text-content {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    color: $color-primary-dark;
    margin-bottom: $mgn-vertical-1;
  }

  &__card-box {
    color: #fff;
    margin-top: $mgn-vertical-2;

    display: flex;
    justify-content: center;
    gap: 2vw;
  }

  &__card {
    padding: 3vw;
    flex: 0 0 50%;
    max-width: 65rem;

    > :first-child {
      margin-bottom: $mgn-vertical-1;
    }

    &:first-child {
      background-color: $color-primary;
    }
    &:last-child {
      background-color: $color-primary-dark;
    }
  }
}

// SECTION LAYOUT PRIVATE TOUR GET STARTED
.privtour-get-started {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../assets/img/privtour-intro.jpg);
  // background-size: cover;
  background-position: center right;
  padding: 15rem $pd-container-horizontal;
  color: #fff;

  &__title {
    text-align: center;
    margin-bottom: $mgn-vertical-2;
  }

  // SUB-SECTION LAYOUT PRIVATE TOUR GET STARTED POPUP
  &__popup {
    align-items: center;
    justify-content: center;

    &:target {
      display: flex;
    }
  }
}

// SECTION LAYOUT PRIVATE TOUR FEATURE
.privtour-feature {
  padding: 10rem $pd-container-horizontal;

  > :not(:last-child) {
    text-align: center;
    margin: 0 auto $mgn-vertical-1 auto;
    width: 80%;
    max-width: 70rem;
  }
}

.privtour-gallery {
  margin-top: $mgn-vertical-2;

  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(2, 18vw);
  grid-template-areas:
    "pg-1 pg-1 pg-1 pg-1 pg-1 pg-1 pg-1 pg-2 pg-2 pg-2 pg-2 pg-3 pg-3 pg-3 pg-3"
    "pg-4 pg-4 pg-4 pg-4 pg-5 pg-5 pg-5 pg-5 pg-6 pg-6 pg-6 pg-6 pg-6 pg-6 pg-6";
  gap: 1px;

  &__item {
    &--1 {
      grid-area: pg-1;
    }
    &--2 {
      grid-area: pg-2;
    }
    &--3 {
      grid-area: pg-3;
    }
    &--4 {
      grid-area: pg-4;
    }
    &--5 {
      grid-area: pg-5;
    }
    &--6 {
      grid-area: pg-6;
    }
  }
}

// SECTION LAYOUT PRIVATE TOUR REVIEW
.privtour-review {
  background-color: rgb(238, 238, 238);
  padding: 10rem $pd-container-horizontal;

  display: flex;
  gap: 5vw;
  justify-content: center;

  // STAFF SIDE
  &__staffs {
    flex: 0 0 40%;
  }

  &__staff-box {
    margin: $mgn-vertical-2 0;

    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }

  &__staff {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    // object-fit: cover;
  }

  // CONTENT SIDE
  &__user {
    &-review {
      flex: 0 0 40%;
      padding: 3rem;
      background-color: #fff;
      margin-bottom: $mgn-vertical-2;
      > * {
        margin-bottom: $mgn-vertical-3;
      }
    }

    &-name {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: $mgn-vertical-1 auto;
    }
  }

  &__brand {
    &-review {
      display: flex;
      gap: 2.5rem;
      align-items: center;
    }
  }

  &__icon {
    &--quote {
      font-size: 5rem;
    }

    &--brand {
      height: 6rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-1) {
  .privtour-feature {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: $breakpoint-2) {
  .privtour-get-started {
    padding-left: 0;
    padding-right: 0;
  }
  .privtour-feature {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .privtour-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30vw);
    grid-template-areas:
      "pg-1 pg-2"
      "pg-3 pg-4"
      "pg-5 pg-6";
  }

  .privtour-review {
    flex-direction: column;
    text-align: center;
    &__staff-box {
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    &__brand-review {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $breakpoint-3) {
  .privtour-gallery {
    grid-template-rows: repeat(3, 55vw);
  }

  .privtour-review {
    &__staff-box {
      grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    }
  }
}

@media only screen and (max-width: $breakpoint-4) {
  .privtour-option__card-box {
    flex-direction: column;
  }

  .privtour-option__card-title {
    text-align: center;
  }

  .privtour-get-started__btn {
    transform: translate(-50%, 200%);
  }

  .privtour-gallery {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 25rem);
    grid-template-areas:
      "pg-1"
      "pg-2"
      "pg-3"
      "pg-4"
      "pg-5"
      "pg-6";
  }
}
