@use "../abstract/variable" as *;

//SECTION BRIEF
.tourlist-brief {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem $pd-container-horizontal;
  text-align: center;

  > * {
    margin-bottom: $mgn-vertical-1;
  }
}

//SECTION CARDS
.tourlist-cards {
  padding: 10rem 0;
  background-color: rgb(233, 233, 233);
  text-align: center;

  &__card-box {
    margin-bottom: $mgn-vertical-2;
  }

  &__card {
    margin-bottom: $mgn-vertical-1;
    text-align: initial;
    position: relative;
    box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.3);

    display: inline-grid;
    grid-template-columns: 35rem 70rem;
    grid-template-rows: 30rem;
  }

  &__img {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    max-height: 42rem;
  }

  &__info-box {
    grid-area: 2 / 1 / 3 / 2;
    display: none;
    padding: 3rem;
    background-color: rgb(238, 238, 238);

    &--inner {
      margin-top: $mgn-vertical-3;
      list-style: none;
    }
  }

  &__info-item {
    padding: 1.5rem 0;

    &:not(:last-child) {
      border-bottom: 2px solid darkgrey;
    }
  }

  &__text-box {
    grid-area: 1 / 2 / 3 / 3;
    padding: 3rem;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "t-info p-info"
      "textt textt"
      "r-box cta";
    row-gap: 3rem;
  }

  &__title {
    width: max-content;
  }

  &__trip-info {
    grid-area: t-info;
    > * {
      margin-bottom: $mgn-vertical-4;
    }
  }

  &__price-info {
    grid-area: p-info;
    text-align: right;
    > * {
      margin-bottom: $mgn-vertical-4;
    }
  }

  &__text {
    grid-area: textt;
    padding-left: 2rem;
    border-left: 2px solid rgb(209, 209, 209);

    &--extra {
      display: none;
    }

    &::first-line {
      font-weight: 500;
    }
  }

  &__review-box {
    grid-area: r-box;
  }

  &__cta {
    grid-area: cta;
    text-align: right;
    &-btn {
      display: none;
    }
  }

  //HOVER EVENT IMPLEMENTATION
  &__card:hover {
    z-index: 20;
  }

  &__card:hover + &__overlay {
    display: initial;
  }

  &__card:hover &__img {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__card:hover &__info-box {
    display: initial;
  }

  &__card:hover &__text--extra {
    display: initial;
  }

  &__card:hover &__icon-box {
    display: none;
  }

  &__card:hover &__cta-btn {
    display: initial;
  }
}

//SUB-SECTION TRIPS
.tourlist {
  &-trip {
    width: 20rem;
    height: 100%;
    padding: 1.5rem;
    background-color: rgb(212, 212, 212);

    &--active {
      color: white;
      background-color: $color-primary-dark !important;
    }

    &:hover {
      background-color: $color-primary !important;
    }
  }

  &-trips {
    margin: 0 auto $mgn-vertical-2 auto;
    width: 105rem;
    gap: 3vw;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

//SECTION FEATURES
.tourlist-features {
  max-width: 130rem;
  margin: 0 auto;
  padding: 10rem $pd-container-horizontal;
  max-height: 50rem;

  display: flex;
  gap: 1vw;

  > * {
    flex: 1;
  }
}

@media only screen and (max-width: $breakpoint-1) {
  .tourlist-cards__card {
    grid-template-columns: 30rem 60rem;
  }

  .tourlist-trips {
    width: 90rem;
  }
}

@media only screen and (max-width: $breakpoint-2) {
  .tourlist-cards {
    &__card {
      grid-template-columns: 90vw;
      grid-template-rows: 20rem;
    }

    &__img {
      grid-area: 1 / 1 / 2 / 2;
    }

    &__info-box {
      grid-area: 2 / 1 / 3 / 2;
    }

    &__text-box {
      grid-area: 3 / 1 / 4 / 2;
    }
  }

  .tourlist-trips {
    width: 85vw;
  }

  .tourlist-trip {
    width: 12rem;
    background-color: transparent;
  }

  .tourlist-features {
    padding-left: 2vw;
    padding-right: 3vw;
  }
}

@media only screen and (max-width: $breakpoint-3) {
  .tourlist-brief {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .tourlist-cards {
    &__text-box {
      grid-template-columns: auto;
    }

    &__text-box {
      grid-template-areas:
        "t-info"
        "p-info"
        "textt"
        "r-box"
        "cta";
      text-align: center;
    }

    &__price-info,
    &__cta {
      text-align: center;
    }

    &__title {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .tourlist-features {
    max-height: initial;
    flex-direction: column;

    > * {
      flex-basis: 25rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-4) {
  .tourlist-cards {
    &__title {
      width: initial;
    }
  }

  .tourlist-trips {
    justify-content: center;
  }
}
