@use "../abstract/variable" as *;

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

.head-1,
.head-2,
.head-3,
.head-3--dark {
  //   letter-spacing: 1px;
  font-weight: 500;
}

//Used in banner
.head-1 {
  font-family: "Source Serif 4", sans-serif;
  font-size: 5.5rem;
}

.head-2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
}

//Used for titles
.head-3 {
  font-family: "Source Serif 4", sans-serif;
  font-size: 3rem;
}

.para-small {
  font-size: 1.1rem;
  opacity: 0.7;
}

@media only screen and (max-width: $breakpoint-2) {
  .head-1 {
    font-size: 4rem;
  }

  .head-2 {
    font-size: 2rem;
  }
}
