@use "../abstract/variable" as *;

//SECTION - CTA
.cta {
  padding: 7rem $pd-container-horizontal;
  background-color: $color-primary;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7vw;

  &__content {
    display: flex;
    gap: 2rem;
  }

  &__icon {
    font-size: 4rem;
  }

  &__text > :last-child {
    line-height: 1.5;
    color: $color-primary-dark;
  }
}

@media only screen and (max-width: $breakpoint-3) {
  .cta {
    flex-direction: column;
  }
}
