@use "../abstract/variable" as *;

.figure {
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    filter: brightness(75%);
    transition: filter 0.3s;
  }

  &__caption {
    width: 80%;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    color: #fff;
    line-height: 1.2;
    overflow: hidden;
    transition: all 0.3s;

    > :first-child {
      margin-bottom: $mgn-vertical-3;
    }

    &--extra {
      // width: max-content;
      position: absolute;
      left: 0;
      bottom: -10rem;
      transition: all 0.3s;

      > :first-child {
        margin-bottom: $mgn-vertical-3;
      }
    }
  }

  // when image is hovered, caption will grow(padding) & extra info will come up
  &:hover &__caption {
    padding-bottom: 7rem;

    &--extra {
      bottom: 0;
    }
  }

  // when image is hovered, the image will get darker
  &:hover &__img {
    filter: brightness(40%);
  }
}

@media only screen and (max-width: $breakpoint-1) {
  .figure {
    &__caption {
      left: 1.5rem;
      bottom: 1.5rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-3) {
  .figure {
    // when image is hovered, caption will grow(padding) & extra info will come up
    &:hover &__caption {
      padding-bottom: 9rem;

      &--extra {
        bottom: 0;
      }
    }

    &__title {
      font-size: 2.5rem;
    }
  }
}
