@use "../abstract/variable" as *;

.footer {
  text-align: center;
  color: #fff;
  background-color: $color-primary-dark;
  padding: 10rem $pd-container-horizontal;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  column-gap: 5vw;
  row-gap: 6rem;
  justify-items: center;

  &__item {
    > :not(:last-child) {
      margin-bottom: $mgn-vertical-1;
    }
  }

  &__nav {
    &-item {
      display: block;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-bottom: $mgn-vertical-1;
      }
    }
  }

  &__title {
    color: $color-primary;
    text-transform: uppercase;
  }

  &__logo {
    width: 100%;
  }

  &__social-media {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
  }
}
