@use "../abstract/variable" as *;

.nav--main {
  height: 100vh;
  width: 30rem;
  padding-top: 8vh;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: white;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.nav-item--main {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:hover {
    background-color: rgba($color: $color-primary-dark, $alpha: 0.6);
  }
}

.nav-close-btn--main {
  background-color: rgba(205, 50, 50);
  padding: 1rem;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.nav-item-active--main {
  background-color: $color-primary-dark;
}

.nav--tabs {
  border-bottom: 2px solid $color-primary;

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.nav-item--tabs {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 0.3rem;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.nav-item-active--tabs {
  font-weight: 500;
  border-color: $color-primary !important;
}

@media only screen and (max-width: $breakpoint-4) {
  .nav--tabs {
    flex-direction: column;
  }

  .nav-item--tabs {
    padding: 1rem;
    border-bottom: 0;
    border-left: 3px solid transparent;
  }
}
