@use "../abstract/variable" as *;

.popup {
  width: 80%;
  max-width: 110rem;
  max-height: 95vh;
  position: relative;

  &__header {
    background-color: $color-primary;
    padding: 2.5rem;

    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__body {
    color: #000;
    padding: 2.5rem;
    background-color: rgb(226, 224, 224);

    display: grid;
    column-gap: 2vw;
    row-gap: 2rem;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "fname lname mail phone"
      "msg msg msg country"
      "msg msg msg agreement"
      "msg msg msg btn";
  }

  &__travel {
    &-desc {
      flex-basis: 40%;
    }

    &-date,
    &-adult,
    &-child {
      flex: 1;
    }
  }

  &__field-title {
    &--desc {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  &__field {
    margin-top: $mgn-vertical-3;
    display: block;
    width: 100%;
    border: none;
    padding: 1rem;
    transition: box-shadow 0.2s;

    &--msg {
      height: 80%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: black, $alpha: 0.4);
    }
  }

  &__cust {
    &-fname {
      grid-area: fname;
    }

    &-lname {
      grid-area: lname;
    }

    &-mail {
      grid-area: mail;
    }

    &-phone {
      grid-area: phone;
    }

    &-msg {
      grid-area: msg;
    }

    &-country {
      grid-area: country;
    }

    &-agreement {
      grid-area: agreement;
    }

    &-btn {
      grid-area: btn;
      border: none;
    }
  }

  &__close-btn {
    background-color: rgba(205, 50, 50);
    padding: 1rem;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: $breakpoint-1) {
  .popup {
    width: 90%;
  }
}

@media only screen and (max-width: $breakpoint-2) {
  .popup {
    &__body {
      grid-template-areas:
        "fname fname lname lname"
        "mail mail phone phone"
        "msg msg country country"
        "msg msg agreement agreement"
        "btn btn btn btn";
      align-items: center;
    }

    &__cust-btn {
      width: 100%;
    }

    &__travel-desc {
      flex-basis: 100%;
    }
  }
}

@media only screen and (max-width: $breakpoint-3) {
  .popup {
    &__travel-date {
      flex-basis: 100%;
    }
  }
}

@media only screen and (max-width: $breakpoint-4) {
  .popup {
    &__travel-adult,
    &__travel-child {
      flex-basis: 100%;
    }

    &__body {
      grid-template-columns: initial;
      grid-template-areas:
        "fname"
        "lname"
        "mail"
        "phone"
        "country"
        "msg"
        "msg"
        "agreement"
        "btn";
    }
  }
}
