// $color-primary: #51bb5d;
// $color-primary-dark: #064635;
$color-primary: rgb(159, 205, 50);
$color-primary-dark: rgb(65, 119, 3);

$mgn-vertical-1: 2.5rem;
$mgn-vertical-2: 6rem;
$mgn-vertical-3: 1.2rem;
$mgn-vertical-4: 0.5rem;
$pd-container-horizontal: 6vw;

$breakpoint-1: 1200px;
$breakpoint-2: 900px;
$breakpoint-3: 600px;
$breakpoint-4: 350px;
